<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddy - Administrador de Finanzas Personales</title>
    <link rel="stylesheet" href="{% static 'Styles/stylesAcercca.css' %}">
</head>

<body>
    <header>
        <div class="app-name">
            <h1 class="titulo">Budget Buddy</h1>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="/" class="enlace">Inicio</a></li>
                <li><a href="#" class="enlace">Contacto</a></li>
                <li><a href="/login/" class="enlace">Iniciar Sesión</a></li>
                <li><a href="/register/" class="enlace">Registrarse</a></li>
            </ul>
        </nav> 
    </header>
      
    <section class="about">
        <div class="container1">
            <div class="col-s6">
                <h2 class="titulo">Acerca de Nosotros</h2>
                <p class="parrafo">Somos BudgetBuddy, una aplicación web dedicada a ayudar a las personas a administrar sus finanzas personales de manera efectiva y sencilla.<br>Nuestro objetivo es proporcionar herramientas y recursos que permitan a nuestros usuarios tomar decisiones financieras informadas y mejorar su bienestar económico.<br>
                Nuestro equipo está formado por expertos en finanzas y desarrollo web, comprometidos con brindar la mejor experiencia a nuestros usuarios. Nos esforzamos por ofrecer funcionalidades innovadoras, seguridad y confiabilidad en nuestra plataforma.</p>
            </div>
            <div class="col-s6">
                <img src="{% static 'Images/finanzas3.png'%}" class="imagen" alt="no aparece la imagen">
            </div>
        </div>
    </section>
    
    <footer>
        <p class="copy">&copy; 2024 BudgetBuddy - Todos los derechos reservados.</p>
    </footer>

</body>
</html>
