<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Buddy - Administrador de Finanzas Personales</title>
  <link rel="stylesheet" href="{% static 'Styles/stylesIndex.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <h1>Budget Buddy</h1>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="login/">Iniciar Sesión</a></li>
          <li><a href="register/">Registrarse</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="container">
      <h2>Bienvenido a Budget Buddy</h2>
      <p>Budget Buddy es una aplicación web diseñada para ayudarte a administrar tus finanzas personales de manera efectiva y sencilla.</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 Budget Buddy - Todos los derechos reservados.</p>
    </div>
  </footer>
</body>

</html>