/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer elemento */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .login {
    text-align: center;
    padding: 50px 0;
  }
  
  .login h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .actual-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-wrap {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #333;
  }
  
  .sign-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-btn:hover {
    background-color: #555;
  }
  
  .text {
    font-size: 0.8rem;
    text-align: center;
  }
  
  .text a {
    color: #333;
  }